@{
    ViewData["Title"] = "About";
}

<div class="et_pb_section et_pb_section_0 et_section_regular">




    <div class="et_pb_row et_pb_row_0">
        <div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_module et_pb_image et_pb_image_0 et-animated et_had_animation" style="">


            </div>
        </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">


                <div class="et_pb_text_inner">
                    <h2 style="text-align: center;">Who We Are</h2>
                    <p style="text-align: left;">In business since 2000, and combined with ENCODEX through GFK’s acquisition in 2009, GfK Etilize has been providing clients from around the world with mission critical product data and solutions for retailers, distributors and manufacturers to power their eCommerce efforts. Our team brings decades of eCommerce experience, and we truly are passionate about product content and optimizing it for our clients.</p>
                    <p style="text-align: left;">GfK is the trusted source of relevant market and consumer information that enables its clients to make smarter decisions. More than 13,000 market research experts combine their passion with GFK’s long-standing data science experience. This allows GfK to deliver vital global insights matched with local market intelligence from more than 100 countries. By using innovative technologies and data sciences, GfK turns big data into smart data, enabling its clients to improve their competitive edge and enrich consumers’ experiences and choices.</p>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_section et_pb_section_2 et_section_regular">




        <div class="et_pb_row et_pb_row_2">
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">


                <div class="et_pb_module et_pb_divider_0 et_pb_space et_pb_divider_hidden"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                    <div class="et_pb_blurb_content">
                        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon et-animated"></span></span></div>
                        <div class="et_pb_blurb_container">

                            <div class="et_pb_blurb_description"><p>&nbsp;</p></div>
                        </div>
                    </div> <!-- .et_pb_blurb_content -->
                </div> <!-- .et_pb_blurb -->
            </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">


                <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">


                    <div class="et_pb_text_inner">
                        <h2 style="text-align: center;">What We Do</h2>
                        <p style="text-align: left;">We provide standardized, eCommerce ready product data catalogs containing millions of products representing thousands of brands. Our high quality product data is built in a robust taxonomy optimized for SEO, and can be easily integrated into your website to help you get to market fast. &nbsp;With our content management platform, manufacturers can ensure their product data is up to date and accurate, and ensure speed to market through our network of thousands of leading distributor, reseller, VARs, retailer, e-tailer and shopping portals.</p>
                    </div>
                </div> <!-- .et_pb_text -->
            </div> <!-- .et_pb_column -->


        </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_3">
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">


                <div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">


                    <div class="et_pb_blurb_content">
                        <div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et-pb-icon et-animated">t</span></span></div>
                        <div class="et_pb_blurb_container">

                            <div class="et_pb_blurb_description"> </div>
                        </div>
                    </div> <!-- .et_pb_blurb_content -->
                </div> <!-- .et_pb_blurb --><div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">


                    <div class="et_pb_text_inner">
                        <h2 style="text-align: center;">Why We Do It</h2>
                        <p style="text-align: center; color: #337ab7;">
                            At GfK Etilize, our purpose is to make product content<br>
                            simple, accessible and more profitable for our clients
                        </p>
                        <p style="text-align: left;">As business models change and become more demanding, we provide custom product data solutions to meet specific customer requirements. Some of the world’s largest manufacturers, distributors, resellers, e-tailers, GPOs, GWACs and search engines rely on GfK Etilize for high-quality product data, custom SKU development and merchandising capabilities.</p>
                    </div>
                </div> <!-- .et_pb_text -->
            </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">


                <div class="et_pb_module et_pb_divider_1 et_pb_space et_pb_divider_hidden"><div class="et_pb_divider_internal"></div></div><div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">

 <!-- .et_pb_blurb_content -->
                </div> <!-- .et_pb_blurb -->
            </div> <!-- .et_pb_column -->


        </div> <!-- .et_pb_row -->


    </div>


</div>
