@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
  ABC Company Canda <br />
  <br />
    <abbr title="Phone">P:</abbr>
   +1215155151151151
</address>


